:root {
    --header-bg: #06131F;
    --main-bg: #1D2D3C;
    --card-bg: #112030;
    --text-color: #ffffff;
    --modal-fade: #1d2d3cb1;
}

body {

    header {
        background-color: var(--header-bg);
        height: 3rem;
    }

    main {
        background-color: var(--main-bg);

        .card {
            background-color: var(--card-bg);
            color: var(--text-color);
        }

        .modal-content {
            background-color: transparent;
            color: var(--text-color);
        }

        .fade {
            background-color: var(--modal-fade);
        }
    }
}